# Generic ignores
*.old
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Directory (contents) ignores
.cloud
.storage
deps
tts
zigbee2mqtt
automations/security
www/*

# Specific file ignores
ip_bans.yaml
alarm_control_panel.yaml
known_devices.yaml
secrets.yaml
security.yaml
.HA_VERSION
spook_inverse

# Build-in blueprints ignores
blueprints/*/homeassistant

# ESPHome ignores
esphome/.*/

# Ignore files created by IDE's
.vscode
.Trash*

# Ignore vendored stuff
custom_components

# Specific keeps
!.gitkeep
!esphome/common/secrets.yaml